/* =============
    Creative
============= */

#creative {
    background-color: $grey;
    padding: 55px 0 100px;


    @include md {
        display: grid;
        grid-template-columns: 65% auto;
        grid-template-areas: "text img";
        padding: 0 0;
    }

    @include lg {
        grid-template-columns: 50% auto;
        grid-template-areas: "img text";
        padding: 0 0;

    }

    @include xl {
        grid-template-columns: auto 600px 600px auto;
        grid-template-areas: ". img text .";
        padding: 0 0;
    }

    div:nth-child(1) {
        @include md {
            grid-area: text;
            display: grid;
            grid-template-columns: 30px auto 30px;
            grid-template-areas:
            ". type .";
            padding: 45px 0;
        }

        @include lg {

            grid-template-columns: 130px auto 130px;
            grid-template-areas:
            ". type .";
            padding: 100px 0;

        }

        article {
            grid-area: type;



        }
    }

    div:nth-child(2) {
        @include md {
            grid-area: img;
            background-image: url("../img/creative.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

    }

    h1 {
        padding-bottom: 20px;
    }
    p {
        line-height: 21px;
        text-align: justify;
        @include lg {
            line-height: 30px;
        }
    }
}

#creativehero {
    background-image: url("../img/creative.jpg");
    background-size: cover;
    height: 320px;
    @include md {
        display: none;
    }
}
