/* =============
    Hero
============= */

#hero {
    background-image: url("../img/hero.jpg");
    background-size: cover;
    background-position: center;

    div {
        padding: 74px 0 166px;
        text-align: center;
        @include md {
            padding: 125px 0 194px;
        }
        h1 {
            font-family: 'Comfortaa', cursive;
            color: $dark;
            font-size: rem-calc(24);

            @include md {
                font-size: rem-calc(38);
                padding-bottom: 24px;
            }
        }

        h2 {
            font-family: 'Comfortaa', cursive;
            color: $light;
            font-size: rem-calc(14);
            @include md {
                font-size: rem-calc(25);
                padding: 0 90px;
            }
        }
    }

    article {

        padding-bottom: 178px;
        display: flex;
        justify-content: center;

        @include md {
            padding-bottom: 147px;
        }

        a {
            font-family: 'Comfortaa', cursive;
        display: inline-block;
        font-size: rem-calc(18.2);
        color: $white;
        border: 2.8px solid $white;
        padding: 30px 10px;
        border-radius: 100px;

        @include md {
            font-size: rem-calc(23);
            padding: 40px 20px;
            border-radius: 100px;
        }
        }
    }
}
