/* =============
    Footer
============= */
footer{
    background-color: $charcoal;
    padding: 45px 0;

    p {
        font-family: 'Comfortaa', cursive;
        font-size: rem-calc(11);
        color: $white;
        text-align: center;
        padding-top: 24px;
        span {
            color: $red;
        }
    }

    div{
        display: flex;
        justify-content: center;

        i {
            font-size: rem-calc(28);
            padding: 0 10px;
            color: $social;
        }
    }
}
